
<p>
<%= image_tag(@user.avatar_url()) if @user.avatar %>
</p>
<p>
<strong>name:</strong>
<%= @user.name %>
</p>

<p>
<strong>number:</strong>
<%= @user.number %>
</p>

<p>
<strong>password:</strong>
<%= @user.password%>
</p>


<%= link_to 'Back', user_path %>
