<h1>Courses You Can Choose</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Number</th>
  </tr>

  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= course.number %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <% if course.quantity <= Course::MAXIMUM%>
        <%= button_to 'choose', appointment_path(course_id: course) %> 
      <% else %>
        <%=link_to 'full up' %> 
      <% end %>

      </td>
    </tr>
  <% end %>
  <% if session[:user_id] %>
    <p><%= link_to 'my page', my_path %></p>
    <p><%= link_to 'Logout', logout_path,  method: :delete %></p>
  <% else %>
    <p><%= link_to 'Login', login_path %></p>
  <% end %>
</table>
